.kontejner-user{

font-family: 'Times New Roman', Times, serif;
font-size: 20px;
border-color: black;
margin:10px;
}
.kontejner-user-novi{

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-color: black;
    margin:10px;
    padding-top: 20px;    
    padding-left: 63px;
    
}
.kontejner-proizvod {

    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-color: black;
    margin:10px;
    padding-top: 20px;    
    padding-left: 63px;



}
